body {
  background-color: #ebe9e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.box-form {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  width: 200px;
  height: 30px;
}

label {
  padding-right: 10px;
}

.button {
  width: 120px;
  height: 40px;
  background: #4abf2a;
}

input {
  border-radius: 5px;
}

#list-container {
  margin-top: 80px;
  display: flex;
  width: 500px;
}

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

li {
  padding: 10px;
  width: 100%;
  display: flex;
}

li div {
  width: 60%;
}
